<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006489746800-lu0ferggbcbp8qssl3v51k6s99jmo8k1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006489746800-lu0ferggbcbp8qssl3v51k6s99jmo8k1</string>
	<key>API_KEY</key>
	<string>AIzaSyByhm98OlMUif0jJ-dL1l9LwwDWMfBihTw</string>
	<key>GCM_SENDER_ID</key>
	<string>1006489746800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.nicechester.shareddrawing</string>
	<key>PROJECT_ID</key>
	<string>shared-drawing</string>
	<key>STORAGE_BUCKET</key>
	<string>shared-drawing.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006489746800:ios:fdf25969be7f5dd6fd63b5</string>
	<key>DATABASE_URL</key>
	<string>https://shared-drawing-default-rtdb.firebaseio.com</string>
</dict>
</plist>